@charset "utf-8";
/* CSS Document */

body{ font-family: 'Mulish', sans-serif;}

h1,h2,h3,h4, h5, h6{ font-weight:800; color:#002c5b; text-transform:uppercase;}
a, p, li{ font-weight:400;}
a{ transition:1s;}
a:hover{ text-decoration:none;}
ul{ margin:0; padding:0;}

.bg-aroof-blue{ background:#116ab1}
/* .header-style{} */
.header-style h5{ font-weight:400; color:#9aa0a8; text-transform:uppercase; font-size:12px;}
.header-style h2{ color:#002c5b;}
.header-style hr {width: 60px;
	margin: 0 auto;
	height: 4px;
	border: none;
	background: rgb(0,44,91);
	background: -moz-linear-gradient(left, rgba(0,44,91,1) 0%, rgba(0,44,91,1) 50%, rgba(255, 131, 0) 50%, rgba(255, 131, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,44,91,1) 0%,rgba(0,44,91,1) 50%,rgba(255, 131, 0) 50%,rgba(255, 131, 0) 100%);
	background: linear-gradient(to right, rgba(0,44,91,1) 0%,rgba(0,44,91,1) 50%,rgba(255, 131, 0) 50%,rgba(255, 131, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c5b', endColorstr='#116ab1',GradientType=1 );
	margin-top:20px;
}

.padding-section{ padding:70px 0;}
.padding-about{ padding:100px 0; }

.carousel-item{ background/*:#116ab1*/; padding:60px 0;}
.slider-text{ margin:9.5rem 0;}
.slider-text{ color:#fff;}
.slider-text h2{ color:#fff;}
.slider-text h2{ font-size:35px;}
.slider-text h5{ color:rgba(255,255,255);}
.slider-text li{ font-size:18px;}
.slider-text ul{ margin-bottom:25px;}
.slider-text ul li{ list-style: square; list-style-position:inside;}
.slider-text a {background: #fff;color: #116ab1;padding: 12px 30px; border:2px solid #fff;}
.slider-text a:hover{ background:#116ab1; color:#fff; border:2px solid #fff;}
@media (max-width:992px) { .slider-text{ margin-left:2rem; margin-right:2rem;}}

.clearHeader {height:150px; background:rgba(255,255,255,0); position:fixed; top:0; left:0; width:100%; z-index:9999; -webkit-transition: 1s;  transition: .3s ease-in-out;}
.darkHeader {height:150px; background:#116ab1; position:fixed; top:0; left:0; width:100%; z-index:9999; -webkit-transition:  1s;  transition: .3s ease-in-out; margin-top:-50px; -webkit-box-shadow: -1px 2px 16px -3px rgba(0,0,0,0.2);-moz-box-shadow: -1px 2px 16px -3px rgba(0,0,0,0.2);box-shadow: -1px 2px 16px -3px rgba(0,0,0,0.2);}
@media (max-width:992px) {.clearHeader{ height:120px; background:#116ab1;} .darkHeader{ margin-top:0px; height:115px; background:#116ab1;} .navbar{ background:#116ab1; padding: .5rem 2rem;}}
.darkHeader .navbar { padding: .5rem 2rem;}

.about-us { box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.15);-webkit-box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.15); -moz-box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.15); background:#fff; padding:15px; overflow:hidden;}
.about-us img{ width:100%;}
.about-us h4{ margin:15px;}
.about-us p{ margin:0 15px 15px 15px;}
.about-us a, form a{ background:#116ab1; width:100%; display:inline-block; color:#fff; font-weight:800;}
.about-us a:hover{}
.about-us a i{font-size: 20px; margin-top: 3px; color:#fff; }
.text-link{ padding:10px 10px 10px 35px;}
.text-link-a { padding:15px;}
.text-link-a{ background:#ff8300; text-align:center; transition:1s;}
.link-style:hover .text-link-a{ background:#116ab1;}
.about-us a:hover{ background:#ff8300; color:#fff;}
.text-link:hover .text-link-a{ background:#002c5b;}
.link-style{ overflow:hidden;}
@media (max-width:992px) { .about-us{ margin-bottom:35px;}}


.parallax-content .header-style hr, .banner .header-style hr { float:left; background: rgb(0,44,91);
	background: -moz-linear-gradient(left, rgba(0,44,91,1) 0%, rgba(0,44,91,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(0,44,91,1) 0%,rgba(0,44,91,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(0,44,91,1) 0%,rgba(0,44,91,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c5b', endColorstr='#116ab1',GradientType=1 );}
.parallax-content ul li{ list-style:none; margin-bottom:15px;}
.parallax-content{ background:#116ab2; color:#fff; padding:40px 25px;}
.parallax-content .header-style h5, .parallax-content .header-style h2{ color:#fff;}
.parallax { background-image:url(../images/about--1.jpg); background-position:center;  background-size: cover; padding:250px 0;}

.why-us .parallax {
	background-image: url(../images/about--1.jpg);
	background-position: center;
	background-size: cover;
	padding: 250px 0;
	background-size: 450px 450px;
	background-repeat: no-repeat;
}

.parallax-content .text-link { background:#fff; border:2px solid #fff; color:#116ab1; }
.parallax-content .link-style .text-link-a{ border:2px solid #ff8300; color:#fff;}
.parallax-content .link-style:hover .text-link-a{ background:none; border:2px solid #ff8300; }

/*footer{ background:#f8f7f7;}
footer .header-style hr{ float:left; margin-top:10px;}
footer li, footer p{ color:#002c5b;}
footer ul li {list-style: none;margin: 20px 20px 0 0;display: inline;}
footer ul li a{ color:#116ab1;}
footer ul li i{ margin-right:10px;}
*/


footer{ background:#116ab1; padding:50px 0;}
footer h2{ color:#fff; margin-bottom:25px; font-weight:700;}
footer ul li{ display:inline-block; margin-right:25px;}
footer ul li a{ color:#fff;} 
footer .social { margin-top:25px; padding-top:15px; padding-bottom:25px;}
footer hr{ background:rgba(255,255,255,.3); width:25%; margin: 0 auto;}
footer .social a i{ font-size:35px;}
footer ul li a:hover, footer .contact-us a:hover, footer .contact-us a{ color:#ff8300;}
footer .contact-us a:hover{ color:#fff;}
footer + section { background:#055ea6 !important;}

.banner{ background: #fff; padding-top:70px;}
.banner img{ opacity:.9; width:80%; float:right; padding-bottom:25px;}
.banner .header-style{ margin-top:100px;}
.banner .header-style h2, .banner .header-style h5{ color:#002c5b;}

form { background:#fff;}
form button{}

.product-inner ul li{ list-style-position: outside; list-style:square; }

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.slider {width: 100%; margin: 50px auto;}
.slick-slide { margin: 0px 20px; }
.slick-slide img { width: 100%; }
.slick-prev:before,.slick-next:before { color: black; }
.slick-slide { transition: all ease-in-out .3s; opacity: .2; }   
.slick-active { opacity: 1; } .slick-current { opacity: 1; }

.testimonials-content{ padding:20px; background:#f3f3f3;}

.testimonials-content::before {content: "\f0d7";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;display: inline-block;vertical-align: middle;position: absolute;bottom: 44px;font-size: 55px;/* display: table-cell; */color: #f3f3f3;}
@media screen and (max-width: 990px) and (min-width: 576px) { .testimonials-content::before { bottom: 70px;}}

.testimonials-conatiner img{ border-radius:100%; margin-top:20px;}
.testimonials-conatiner h5{  margin-top:20px;}
.testimonials-conatiner h5 span{ font-weight:400; font-size:15px;}
.testimonials-conatiner i{ color:#116ab1;}
.Toggle navigation i{ color:#fff;}

form a:hover{ color:#fff;}

.why-us .parallax-content, .why-us .bg-aroof-blue { background:#F7F7F7;} 
.why-us p{ color:#002c5b;}
.why-us .slider-text p{ color:#fff;}
.why-us .parallax{ padding:180px 0;}


.table-style { width:100%;}
.table-style,  .table-style td{ border:1px solid #ccc;}
.table-style td{ padding:10px;}
.table-style tr td:first-child { font-weight:bold;}



.specification ul{ margin-left:0;}
.specification ul li{ display:inline-block; margin-bottom:15px;}
.specification ul li:first-child span, .specification ul li:nth-child(2) span, .specification ul li:last-child span{  width:25px; height:25px; position:relative; display:inline-block; border-radius:200px; vertical-align:top; }
.specification ul li:first-child span{ background:#eb5730; }
.specification ul li:nth-child(2) span{  background:#0a542c;  }
.specification ul li:last-child span{ background:#50585a;}
.specification ul li:nth-child(2){ margin:0 25px;}
.specification h4{ margin-bottom:25px;}
.specification ul li img{ width:100%;}
.specification .suitable-for li{ width:30%;}
.specification .suitable-for li:nth-child(2) { margin:0;}



.product-list .header-style h2{ font-size:25px;}
.product-list .header-style hr{ float:left;}
.products-listing .about-us { box-shadow:none; border:1px solid #eee;}
.products-listing .about-us h4{ font-size:20px !important; text-align:center;  }

.installation img{ width:100%;}

.color-options ul li{ list-style:none; margin-left:10px; color:#5b5b5b;}
.color-options ul, .suitable { display:flex; width:100%;}
.suitable { display: inline;}
.color-options .suitable li img{ /*width:25%;*/ }

.product-fittings ul li{ list-style:none; }

#slick-products .regular h4{ text-align:center;}

.product-links{ background:#fff; padding:10px 55px; color:#ccc; border:1px solid #ccc; border-radius:25px;}
.product-links::before {position: absolute;left: 0;width: 40%;height: 1px; background: rgba(204,204,204,.3);top: 12px; content: '';}
.product-links::after { position: absolute;right: 0;width: 40%;height: 1px; background: rgba(204,204,204,.3);top: 12px; content: '';}
.product-links:hover{ background:#002c5b; color:#fff; border-color:#002c5b;} 
@media screen and (max-width: 990px){}

.installation ul { margin-top:70px;}
.installation ul li{ list-style:none; list-style:square; margin-bottom:25px;}

.contact-us-social ul{ margin-top:25px;}
.contact-us-social ul li{ list-style:none; margin-bottom:15px;}
 .contact-us-social ul li i {
	color: #ff8300;
	background: #0261ac;
	height: 50px;
	width: 50px;
	/* margin-left: ; */
	padding-left: 20px;
	/* padding-right: ; */
	padding-top: 16px;
	border-radius: 200px;
	margin-right: 15px; 
}
.contact-us-social ul li a{ color:#000;}

.phone-call {
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 150px;
    background: #002c5b;
    position: fixed;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
  display: inline-block;
  line-height: 65px;
}
.phone-call i, .admission-btn i{ font-size:25px; margin-top:11px; }

.admission-btn button {
	border-radius: 0;
	background: none;
	transform: rotate(-90deg);
	background: #002c5b;
	padding: 0 50px;
	position: fixed;
	top: 280px;
	right: 0px;
	z-index: 11111;
	color: #fff;
	border: none;
	padding: 10px 25px; transition:1s;
}
.admission-btn button:hover{ color:#002c5b; background:#fff;}

.phone-call:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -15px;
    left: -15px;
    background-color: #002c5b;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    opacity: 0.6;
    -webkit-animation: pulse 1s ease-out;
    animation: pulse 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.25);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: .6;
    }
    75% {
        -webkit-transform: scale(0.75);
        opacity: .3;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0.3);
        opacity: 1;
    }
    50% {
        transform: scale(0.6);
        opacity: .6;
    }
    75% {
        transform: scale(0.9);
        opacity: .3;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/*colors
red 116ab1
blue 002c5b
grey 9aa0a8
*/




.table .thead-dark th{
    color: #fff;
    background-color: #116ab1;
    border-color: #002c5b;
}
.table-bordered td, .table-bordered th{
    border: 1px solid #116ab1;
}
.table td, .table th{
    border-top: 1px solid #116ab1;
}
.table-hover tbody tr:hover{
    background-color: rgb(0 44 91 / 8%);
}
.table td{
    font-size: 17px;
    font-weight: 500;
}


td {
    text-align: center;
    border: 1px #116ab1 solid;
}

th {
    min-width: 100px;
    text-align: center;
    font-size: 13px;
    background: #116ab1;
    color: #fff;
    border: 1px #002c5b solid;
}
.tile-01 td, th{
    padding: 0.75rem;
}